.ag-theme-alpine {
  height: 300px;
  width: 402px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ag-header-cell-label {
  justify-content: center;
}

.submitButton {
  margin-top: 20px;
  padding: 10px;
  background-color: aqua;
  border-radius: 7px;
}

.score {
  justify-content: right;
}
